div{
	width: 200px;
	height: 200px;
	position: absolute;
}
.rojo{
	background-color: #ee3e64;
	float: left;
	top: 0px;
}
.azul{
	background-color: #44accf;
	float: right;
	top: 200px;
	left: 200px;

}
.verde{
	background-color: #b7d84b;
	float: left;
	top: 200px;
}
.amarillo{
	background-color: yellow;
	float: right;
	top: 400px;
}
